/* --- Police "system" & fond du bureau --- */
body {
  font-family: Tahoma, Verdana, Segoe UI, sans-serif;
  background-image: url('golgipsychotic.jpeg');
  background-size: cover;           /* L’image remplit tout l’écran */
  background-repeat: repeat;     /* Pas de répétition */
  background-position: center;      /* Centré */
  background-attachment: fixed;

  color: #222;
}

/* --- Fenêtre principale --- */
.xp-window {
  width: 720px;
  border: 2px solid #3966b2;
  background: #e9e7e3;
  box-shadow: 4px 4px 0 #2224;
  border-radius: 0;
  margin: 40px auto;
  position: relative;
  margin-bottom: 30px;
}

.xp-window-gallery {
  width: 1000px;
  border: 2px solid #3966b2;
  background: #e9e7e3;
  box-shadow: 4px 4px 0 #2224;
  border-radius: 0;
  margin: 40px auto;
  position: relative;
  margin-bottom: 30px;
}



/* --- Barre de titre bleue --- */
.xp-titlebar {
  background: linear-gradient(90deg, #1566b2 0%, #6da3ec 100%);
  color: #fff;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #195a9b;
}

.xp-titlebar.red {
  background: linear-gradient(90deg, #a02c2c 0%, #ff7f2a 100%);
  border-bottom: ;

}

/* --- Boutons de fenêtre (min/max/fermer) --- */
.xp-titlebar .xp-buttons {
  display: flex;
  gap: 5px;
}
.xp-btn {
  width: 18px;
  height: 18px;
  box-shadow: inset 1px 1px 0 #fff8, inset -1px -1px 1px #5555;
  border: 1px solid #888;
  border-radius: 0;
  background: #e9e7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  color: #444;
}

.xp-btn-large{
  width: 124px;
  height: 50px;
  box-shadow: inset 1px 1px 0 #fff8, inset -1px -1px 1px #5555;
  border: 1px solid #888;
  border-radius: 0;
  background: #e9e7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  color: #444;
}


.xp-btn:hover {
  background: #e7c873;
  border: 1px solid #d7ad00;
}
.xp-btn-large:hover {
  background: #e7c873;
  border: 1px solid #d7ad00;
}



/* --------------- Contenu de fenêtre -------------------------- */
.xp-content {
  padding: 24px 16px 16px 16px;
  font-size: 1em;
  color: #222;
  row-gap: 24px;
}


.xp-content-gallery {
  padding: 24px 16px 16px 16px;
  font-size: 1em;
  color: #222;
  row-gap: 24px;
  justify-content: space-evenly ;

}

.xp-content .xp-cbutton {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.xp-cbtn {
  width: 18px;
  height: 18px;
  box-shadow: inset 1px 1px 0 #fff8, inset -1px -1px 1px #5555;
  border: 1px solid #888;
  border-radius: 0;
  background: #e9e7e3;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  color: #444;
}

/* ---- Large button ----- */
.xp-cbtn-large{
  width: 124px;
  height: 50px;
  box-shadow: inset 1px 1px 0 #fff8, inset -1px -1px 1px #5555;
  border: 1px solid #888;
  border-radius: 0;
  background: #e9e7e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  color: #444;
}

.xp-cbtn:hover {
  background: #e7c873;
  border: 1px solid #d7ad00;
}
.xp-cbtn-large:hover {
  background: #cd9199;
  border: 1px solid #d7ad00;
}








/* --- Bordure pied de fenêtre --- */
.xp-window:after {
  content: "";
  display: block;
  border-top: 2px solid #b9b9b9;
}


.qr-app {
  max-width: 320px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#qrcode {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
